.shops-list {
  position: relative;
  width: 480px;
  height: 440px;
  overflow-y: auto;
  border: 1px dashed rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 22px 25px;
}

.shops-counter {
  display: flex;
}

.shops-counter__number {
  font-weight: 400;
  margin-left: 8px;
}

.icon--warning {
  margin-left: 12px;
  margin-top: -5px;
}

.shops-container {
  margin-top: 20px;
  padding-left: 60px;
}

.cover {
  display: none;
}

.disabled {
  overflow: hidden;
}

.disabled .cover {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  width: 480px;
  height: 440px;
}

.shop__container {
  position: relative;
}
.shop__container:hover {
  background-color: ghostwhite;

  path {
    fill: steelblue;
  }
}
.icon--arrow {
  position: absolute;
  left: -30px;
  top: 15px
}
