<div class="specialist-list">
  <div class="action-panel">
    <app-specialist-tab *ngFor="let specialist of addedSpecialists" [specialist]="specialist" [currentSpecialist]="currentSpecialist"></app-specialist-tab>
    <button class="btn btn__add" (click)="openNewSpecialistsList()">
      <p *ngIf="addedSpecialists.length < 5">Добавить специалиста</p>
    </button>
  </div>
  <div class="specialists-card"
       [ngClass]="{
       'specialists-card--filled': addedSpecialists.length,
       'specialists-card--empty': !addedSpecialists.length
       }"
  >
    <div class="specialists-card__content" *ngIf="addedSpecialists.length">
      <div class="specialists-card__specialist-info">
        <p class="title--small">Специалист</p>
        <app-specialist-info [currentSpecialist]="currentSpecialist" (onDelete)="deleteSpecialist($event)"></app-specialist-info>
      </div>
      <div class="specialists-card__shops">
        <p class="title__shops title--small">Магазины</p>
        <p class="no-shops-message" *ngIf="!currentSpecialist">Не назначены</p>
        <div *ngIf="currentSpecialist">
          <app-shop-item *ngFor="let shop of currentSpecialist.shops" [shop]="shop"></app-shop-item>
        </div>
      </div>
    </div>
    <div class="no-specialists-message" *ngIf="!addedSpecialists.length">
      <h2 class="title">Специалист не назначен</h2>
      <p class="text">Чтобы начать работу с нераспределенными магазинами,
        вам необходимо добавить хотя бы одного специалиста</p>
      <img src="../../../assets/img/user.svg">
    </div>
  </div>
  <app-new-specialists *ngIf="!hiddenList" [specialists]="availableSpecialists" (onClose)="closePopup()" (onSelect)="addSpecialist($event)"></app-new-specialists>
</div>
