<div class="edit-page">
  <button [disabled]="disabledButton || !currentSpecialist" class="btn btn__save" type="submit" (click)="createWorkerShopRequest()">
    <p>Сохранить изменения</p>
  </button>
  <div class="edit-page__container">
    <app-specialists-list
      [allShops]="allShops"
      (onHide)="disableShopsList($event)"
      (onCurrentSpecialistChanged)="updateCurrentSpecialist($event)"
      (onCurrentSpecialistShopDelete)="removeCurrentSpecialistShop($event)"
      (onCurrentSpecialistDelete)="updateShopsList($event)"
      (onAllSpecialistListUpdate)="updateResult($event)"
      (onShopsReset)="resetShopListToDefault()"
    ></app-specialists-list>
    <app-shops-list
      [currentSpecialist]="currentSpecialist"
      [availableShops]="availableShops"
      [disabledList]="disabledList"
      (onShopAdd)="addCurrentSpecialistShop($event)"
      (onAvailableShopsChanged)="updateAvailableShopsList($event)"
    ></app-shops-list>
  </div>
</div>
